<div class="row">
  <div class="dol-lg-12">
    <h1>Customer Index</h1>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Family Name</th>
          <th>Given Name</th>
          <th>Email</th>
          <th>More Details</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.family_name %></td>
          <td><%= customer.given_name %></td>
          <td><%= customer.email_string %></td>
          <td><%= link_to 'Details', customer, class: "btn btn-default btn-xs" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
